@model ProjectDemo.Models.User

@{
    ViewBag.Title = "Create";
}
<head>
    @*<link href="~/Content/StyleSheet1.css" rel="stylesheet" />*@
    <link href="~/Content/required.css" rel="stylesheet" />

    <style>
        .gradient-custom-3 {
            /* fallback for old browsers */
            background: #84fab0;
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
        }

        .gradient-custom-4 {
            /* fallback for old browsers */
            background: #84fab0;
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
        }

        .required::after {
            content: "*";
            font-weight: bold;
            color: red;
        }
    </style>
</head>
<br><br>

  @*<h2 style="background-color:darkgrey;text-align:center">Register Here</h2>*@
  <section class="vh-300 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
          <div class="container h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col-10 col-md-99col-lg-7 col-xl-6">
                      <div class="card" style="border-radius: 15px;">
                          <div class="card-body p-4">
                              <h2 class="text-uppercase text-center mb-10" >Create an account</h2>
                              <br>

                              @using (Html.BeginForm())
                              {

                                  @Html.AntiForgeryToken()

                                  <div class="form-horizontal" style="padding-left:300px">


                                    
                                      @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                      <div class="form-group">
                                          @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2 required" })

                                          <div class="col-md-10">
                                              @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                              @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                                          </div>
                                      </div>
                                      <br>

                                      <div class="form-group">
                                          @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2 required" })
                                          <div class="col-md-10">
                                              @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                              @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                          </div>
                                      </div>
                                      <br>

                                      <div class="form-group">
                                          @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label col-md-2 required" })
                                          <div class="col-md-10">
                                              @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })
                                              @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                                          </div>
                                      </div>
                                      <br>

                                      <div class="form-group">
                                          @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2 required" })
                                          <div class="col-md-10">
                                              @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                              @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                          </div>
                                      </div>
                                      <br>
                                      <div class="form-group">
                                          @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2 required" })
                                          <div class="col-md-10">
                                              @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                              @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                          </div>
                                      </div>
                                      <br>
                                      @*<div class="form-group">
                                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@

                                  <div class= "form-group">
                                     
                                      <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Register" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" />

                                     </div>
                                  </div>
                                       @*<p class="text-center @*text-muted mt-10 mb-5 fw-bold text-body">Have already an account? @Html.ActionLink("Login Here", "Login")</p>
                                      <br>*@
                               </div>

                              }
                              
                            
                          <p class="text-center text-muted mt-10 mb-5 fw-bold text-body">Have already an account? @Html.ActionLink("Login Here", "Login")</p>
                                  @*<center> @Html.ActionLink("Back to Login", "Login")</center>*@
                              
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
      @section Scripts {
                                  @Scripts.Render("~/bundles/jqueryval")
                              }
