@model ProjectDemo.Models.Product


@{
    ViewBag.Title = "Create";
}
<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <link href="~/Content/required.css" rel="stylesheet" />
</head>
<h2 style="background-color:darkgrey ;">Add Your Product Here....!</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Product</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        <div class="form-group">
            @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductAmount, htmlAttributes: new { @class = "control-label col-md-2  required" })
            <div class="col-md-10">
                @*@Html.ValidationMessageFor(model => model.ProductAmount, "", new { @class = "text-danger" })*@
                @Html.EditorFor(model => model.ProductAmount, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.ProductAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductQuantity, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductQuantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductQuantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*<script type="text/javascript">
                $('[data-val-required]').after('<span style="color:red;font-size:20px;vertical-align:middle;">*</span>');
            </script>*@
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "MultipleDelete",null, new { @class = "btn btn-primary" })
</div>
